<div id="<%= dom_id memo %>" class="my-4">
  <div class="flex justify-between">
    <p class="my-5">
      <%= memo.body %>
    </p>

    <% if action_name != "show" %>
      <div>
        <%= link_to "Show this memo", memo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to 'Edit this memo', edit_memo_path(memo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    <% end %>
  </div>
  <hr class="mt-2">
  
</div>
